body{
    background-color:#e0e0eb;
  }

h1{
    color: #e0e0eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Lucida Grande";
    font-weight: lighter;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    width: 450px;
  }
.overlay{
  position: relative;
  text-align: center;
}
.text{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
