body, html {
    height: 100%;
    margin:0;
}

.parallax{
  background-image:url('images/IMG_0257.JPG');
  height: 86%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#block{
  position:inherit;
  background-color:rgba(0,0,0,0.4);]
}

button{
  font-family: Raleway, sans-serif;
  font-size: 15px;
  color:white;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

h1{
   left:10%;
    position:relative;
    color: white;
    opacity: 0.6;
    font-family: Raleway, sans-serif;
    font-weight: 200;
    font-size: 30px;
    padding: 10px;
    margin: 0;
  }
