body{
    background-color: white;
  }

h1{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Lucida Grande";
    font-weight: lighter;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    width: 450px;
  }
img{
  width = 800px;
  height = auto;
}
